:root {
  --color-primary: #FCFC8E;
  --color-secundary: #FF0066;
  --color-white: #FAF8F4;
  --shadow-color: 40deg 11% 60%;
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

/* wrapper */

.wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 2440px;
  background-color: var(--color-white);
}


/* header and main sections */
.header, .hero {
  background-color: var(--color-primary);
}

.header {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.hero {
  text-align: center;
}

.hero__img-wrapper{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
}


.cta {
  position: relative;
  height: 200px;
  /* background-color: papayawhip; */
  display: grid;
  place-content: center;
  overflow: hidden;
}

.cta .cta__text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 4;
}


.cta::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  height: 160%;
  width: 100%;
  display: block;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-color: var(--color-white);
}

.random,
.upload,
.favorites {
  width: 90%;
  margin:  0 auto;
}

/* Styles for random section */

.random__text {
  font-size: 1.2rem;
  line-height: 15.8px;
}

.random__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.random__button, .random__input {
  border: 2px solid black;
  font-size: 1.4rem;
  width: 20%;
  min-width: 80px;
  padding: 5px;
}

.random__input {
  text-align: center;
}

.random__button {
  background-color: var(--color-primary);
  font-weight: 500;
  border-left: none;
  cursor: pointer;
}

.random__kitties-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 40px 20px;
  box-sizing: border-box;
}

.random__kitty-wrapper {
  display: inline-block;
  margin: 0;
  box-shadow: var(--shadow-elevation-high);
  position: relative;
  overflow: hidden;
}

.random__kitty-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* favorites button */
.random__like-container {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 20%;
  height: 20%;

  /* background-color: rgba(0, 0, 0, 0.5); */
}
/* background-color: rgba(252, 252, 142, 0.4); */

/* .random__kitty-wrapper:hover > .random__like-container {
  top: 0;
  opacity: 1;
}

.random__kitty-wrapper:hover > .random__kitty-img  {
  filter: sepia(1);
} */

.random__like-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.random__like-button::before, .random__like-button::after {
  content: '';
  position: absolute;
  transform: rotate(-45deg);
  width: 20px;
  height: 35px;
  left: 20px;
  transform-origin: 0 100%;
  border-radius: 12px 12px 0 0;
  background-color: #ccc9c8;
  transition: all ease 250ms;
}

.random__like-button::after {
  transform: rotate(45deg);
  left: 0px;
  transform-origin: 100% 100%;
}

.random__like-button.liked::before, .random__like-button.liked::after {
  background-color: var(--color-secundary);
}

.random__like-button.liked {
  animation: liked 300ms ease;
}

@keyframes liked {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}


/* Upload section Styles */

.upload {
  margin-top: 50px;
}

.upload__form {
  margin-top: 25px;
}

.upload__label {
  padding: 15px;
  display: block;
  position: relative;
  background-color: var(--color-primary);
  border: 2px solid black;
}

.upload__zone {
  position: absolute;
  inset: 0;
  z-index: 2;
  padding: 15px;
  display: grid;
  place-content: center;
  font-size: 1.8rem;
  opacity: 0;
}

.upload__zone.active {
  border: 2px dashed black;
  background-color: rgba(247, 247, 159, 0.85);
  opacity: 1;
}


.upload__text {
  font-size: 1.4rem;
  line-height: 20px;
}

.upload__file {
  display: none;
}

.upload__img {
  display: block;
  width: 100%;
  max-width: 80px;
  min-width: 60px;
  object-fit: cover;
  margin: 20px auto;
}

.upload__img.loaded {
  opacity: 0.8;
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(5px);
  }
}

.select__button {
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.upload__button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  font-size: 1.4rem;
  border:0;
  background-color:#f54b7e;
  color: #fff;
  cursor: pointer;
}

.favorites {
  margin-top: 40px;
}



@media screen and (min-width:768px) {
  .random__like-container {
    inset: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 300ms ease;
  }

  .random__kitty-wrapper:hover > .random__like-container {
    top: 0;
    opacity: 1;
  }

  .random__kitty-wrapper:hover > .random__kitty-img  {
    filter: sepia(1);
  }
}
